<bit-simple-dialog>
  <div bitDialogIcon>
    <i class="bwi bwi-shield bwi-3x" aria-hidden="true"></i>
  </div>
  <div bitDialogTitle>VaultBox</div>
  <div bitDialogContent>
    <p>&copy; VaultBox 2025-{{ year }}</p>
    <p>Offline Password Manager</p>

    <div #version>
      <p>{{ "version" | i18n }}: {{ version$ | async }}</p>
    </div>
  </div>
  <ng-container bitDialogFooter>
    <button bitButton bitDialogClose buttonType="primary" type="button">
      {{ "close" | i18n }}
    </button>
    <button bitButton type="button" (click)="copyVersion()">
      {{ "copy" | i18n }}
    </button>
  </ng-container>
</bit-simple-dialog>
