<popup-page [hideOverflow]="showSkeletonsLoaders$ | async">
  <popup-header slot="header" [pageTitle]="'vault' | i18n">
    <ng-container slot="end">
      <app-new-item-dropdown [initialValues]="newItemItemValues$ | async"></app-new-item-dropdown>

      <app-pop-out></app-pop-out>
      <app-current-account></app-current-account>
    </ng-container>
  </popup-header>

  <!-- VaultBox: Removed empty vault welcome card, premium/nudge spotlights, at-risk callout -->

  <!-- Show search & filters outside of the scroll area of the page -->
  <ng-container slot="above-scroll-area">
    <app-vault-header *ngIf="vaultState !== VaultStateEnum.Empty"></app-vault-header>
  </ng-container>

  <ng-container *ngIf="vaultState !== VaultStateEnum.Empty">
    <div
      *ngIf="vaultState === VaultStateEnum.NoResults"
      class="tw-flex tw-flex-col tw-justify-center tw-h-auto tw-pt-12"
    >
      <bit-no-items [icon]="noResultsIcon">
        <ng-container slot="title">{{ "noItemsMatchSearch" | i18n }}</ng-container>
        <ng-container slot="description">{{ "clearFiltersOrTryAnother" | i18n }}</ng-container>
      </bit-no-items>
    </div>

    <!-- VaultBox: Removed deactivated org card (offline vault) -->

    @if (vaultState === null) {
      <vault-fade-in-out>
        @if (!(loading$ | async)) {
          <!--If there is search text fold all the filtered ciphers into one container-->
          @if (hasSearchText$ | async) {
            <app-vault-list-items-container
              [title]="'searchResults' | i18n"
              [ciphers]="(filteredCiphers$ | async) || []"
              id="allItems"
              disableSectionMargin
              collapsibleKey="allItems"
            ></app-vault-list-items-container>
          } @else {
            <app-autofill-vault-list-items></app-autofill-vault-list-items>
            <app-vault-list-items-container
              [title]="'favorites' | i18n"
              [ciphers]="(favoriteCiphers$ | async) || []"
              id="favorites"
              collapsibleKey="favorites"
            ></app-vault-list-items-container>
            <!--Change the title header when a filter is applied-->
            <app-vault-list-items-container
              [title]="((numberOfAppliedFilters$ | async) === 0 ? 'allItems' : 'items') | i18n"
              [ciphers]="(filteredCiphers$ | async) || []"
              id="allItems"
              disableSectionMargin
              collapsibleKey="allItems"
            ></app-vault-list-items-container>
          }
        }
      </vault-fade-in-out>
    }
  </ng-container>

  @if (showSkeletonsLoaders$ | async) {
    <vault-fade-in-out-skeleton>
      <vault-loading-skeleton></vault-loading-skeleton>
    </vault-fade-in-out-skeleton>
  }
</popup-page>
